<nav class="navbar navbar-light" style="background-color: darkred">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:#ffffff" [routerLink]="['/']">{{name}}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" style="color:#ffffff" aria-current="page" [routerLink]="['/bitcoin']">
          Bitcoin
        </a>

        <a class="nav-link" style="color:#ffffff" [routerLink]="['/wallet']">
          Wallet
        </a>
      </div>
    </div>
  </div>
</nav>